.input {
  display: flex;
  width: 95%;
  max-width: 500px;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 40px;
  padding: 17px 25px;
  font-size: 20px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px #000;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 40px;
  right: 0px;
  border: none;
  font-size: 17px;
  background-color: #2f74c0;
  color: #eee;
  transition: 0.2s all;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}

.input__submit:hover {
  background-color: #388ae2;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px #000;
}

.container {
  width: 95%;
  max-width: 900px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .todos {
  display: flex;
  width: 48.5%;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: #2e6ec0;
}
.todos.completed {
  background-color: #e53;
}
.todos.dragactive {
  background-color: #225ead;
}
.todos.dragcomplete {
  background-color: rgb(211, 71, 40);
}
.todos__heading {
  font-size: 23px;
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  background-image: linear-gradient(to right, #82aa24, #999b12);
  transition: 0.11s ease-in;
}
.todos__single:hover {
  box-shadow: 0 0 5px #333;
  transform: scale(1.02);
}
.todos__single--text {
  flex: 1;
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.todos__single--text.input{
  color: #fafafa;
  background-color: rgba(255,255,255,0.1);
}

.todos__single--text:focus {
  outline: none;
}

.todos__single .icon {
  color: #fff;
  margin-left: 10px;
  padding: 3px;
  font-size: 19px;
  cursor: pointer;
}

.todos__single .icon:hover {
  opacity: 0.7;
}
.todos__single.drag {
  box-shadow: 0 0 20px #222;
}

@media (max-width: 1100px) {
  .todos { width: 45%; }
}
@media (max-width: 700px) {
  .container .todos { width: 100%; margin-bottom: 10px; }
  .container {
    flex-direction: column;
  }
}
